@tailwind base;
@tailwind components;
@tailwind utilities;

.calenderBox{
    border: 1px solid #202D57;
    margin-top: 20px !important;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  audio{
    width: 45vw;
  }
  @media (min-width: 768px) {
    
    audio {
        width: 23vw;
    }
}


p{
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}